# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# for eclipse
/.settings/
/.project

# for idea
*.iml
/.idea
*/target
out/
build/
log/
*.prefs
*.log
*.factorypath
*.core.xml
*.gitignore
*.cfg
*.classpath
*.springBeans
test-output/

hs_err_pid*
